.card {
  display:inline-block;
  text-align:center;
  width: 80px;
  height: 140px;

  margin:0px;
  padding:10px 10px 10px 10px;
  font-size: 22px;
  background-color:white;
  position: absolute; 
}

.facedown {
  background-color:#e55451;
  font-size: 0px;
}

.red {
  color: red;
}

.black {
  color: black;
}
