.card {
  display:inline-block;
  text-align:center;
  width: 130px;
  height: 210px;

  margin:0px;
  padding:10px 10px 0 10px;
  font-size: 52px;
  background-color:white;
  border: solid 1px black;
  position: absolute; 
}

.facedown {
  background-color:#e55451;
  font-size: 0px;
}

.red {
  color: red;
}

.black {
  color: black;
}
