body {
  background-color: #333;
  margin: auto;
  padding: 10px;
}

#board {
  display: flex;
  width: 1300px;
  height: 720px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: auto;
}

#playfield {
  width: 1300px;
  height: 500px;
  background-color: #59887b;
  display: flex;
  border-bottom: 1px solid black;
}

#deckZone {
  background-color: pink;
  height: 220px;
  width: 150px;
}

#discardZone {
  background-color: lightblue;
  height: 220px;
  width: 150px;
}

#handZone {
  background-color: grey;
  width: 1000px;
  height: 220px;
  display: flex;
}
