body {
  background-color: #dddddd;
  margin: auto;
  padding: 10px;
}

#board {
  margin: auto;
  overflow: hidden;
  height: 600px;
  width: 1500px;
  display: block;
  background-color: #59887b;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#deckZone {
  display: inline-block;
  overflow: hidden;
  border: 1px solid #333;
  background-color: pink;
  height: 220px;
  width: 150px;
}

#discardZone {
  display: inline-block;
  overflow: hidden;
  border: 1px solid #333;
  background-color: lightblue;
  height: 220px;
  width: 150px;
}

#handZone {
  margin: auto;
  display: inline-block;
  border: 1px solid #333;
  background-color: grey;
  width: 1500px;
  height: 220px;
  display: flex;
}
